[run]
source = perfmetrics
omit =
     */bench_*.py


[report]
# Coverage is run on Linux under cPython 2 and 3,
# exclude branches that are windows, pypy
# specific
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if PYPY:
    if sys.platform == 'win32':
    if mswindows:
    if is_windows:
