*.pyc
*.egg-info
*.so
.coverage
.installed.cfg
.pydevproject
bin
build
coverage
develop-eggs
dist
eggs
include
lib
local
man
parts
docs/_build
htmlcov/
src/perfmetrics/metric.c
src/perfmetrics/metric.html
