include *.in
include *.rst
include AUTHORS
include LICENSE.txt
include setup.cfg
include nose2.cfg
include tox.ini
include .travis.yml
include .coveragerc
include .isort.cfg
include .pylintrc
include *.toml
include *.yml

recursive-include src *.pxd
recursive-include src *.py
recursive-include src *.c
recursive-exclude src *.html
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.zcml
include *.txt

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include scripts/releases *
recursive-include scripts *.cmd
recursive-include scripts *.ps1
